<div id="share-box" style="border-radius: 1px 1px 1px 1px; box-shadow: 0 1px 2px #AAAAAA; padding-top: 5px;"> 
  <div class="art-clickable" data-shout="<%=shout.id %>" > <h3><%= shout.title %></h3></div>
  <div> <a href="#"> <%= shout.username || ''%></a></div>
  <i class="icon-eye-open"></i><%= shout.views %>
  <i class="icon-heart"></i><%= shout.num_favorites %>
  <br/>
  <br/>
  <a class="btn btn-large art-clickable" data-shout="<%=shout.id %>">
    <i class="icon-comment"> </i>
    Comment
  </a>
  <% if @favorite_shout_ids %>
    <% if @favorite_shout_ids.include?(shout.id) %>
      <a data-shout-id="<%=shout.id%>" class="btn btn-large favorited yellow">
        <i class="icon-heart"></i>
        Favorite
      </a>
    <% else %>
      <a data-shout-id="<%=shout.id%>" class="btn btn-large not-favorited">
        <i class="icon-check"></i>
        Favorite
      </a>
    <% end %>
  <% end %>
  <br/>
  <br/>
  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.google.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21&amp;appId=152460108176191" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
</div>
