<div id="share-box" style="border-radius: 1px 1px 1px 1px; box-shadow: 0 1px 2px #AAAAAA; padding-top: 5px;"> 
  <div class="art-clickable" data-shout="<%=shout.id %>" > <h3><a style="color:black"><%= shout.title %></a></h3></div>
  <div> <a href="#"> <%= shout.username || ''%></a></div>
  <i class="icon-eye-open"></i><%= shout.views_count %>
  <i class="icon-heart"></i><%= shout.num_favorites %>
  <br/>
  <br/>
  <a class="btn btn-large art-clickable" data-shout="<%=shout.id %>">
    <i class="icon-comment"> </i>
    Comment
  </a>
  <% if @favorite_shout_ids %>
    <% if @favorite_shout_ids.include?(shout.id) %>
      <a data-shout-id="<%=shout.id%>" class="btn btn-large favorited yellow">
        <i class="icon-heart"></i>
        Favorite
      </a>
    <% else %>
      <a data-shout-id="<%=shout.id%>" class="btn btn-large not-favorited">
        <i class="icon-check"></i>
        Favorite
      </a>
    <% end %>
  <% end %>
  <br/>
  <br/>
  <div class="fb-like" data-href="http://www.jamesjn.com/shouttwo/shouts/#{shout.id}" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false"></div>
</div>
