<div><h3> <%=shout.title || '' %> </h3></div>
<div>
  <h4> 
    @<%=shout.username || ''%> |
    <i class="icon-eye-open"></i><%= shout.views %>
    <i class="icon-heart"></i><%= shout.num_favorites %>
  </h4>
  <% if @favorite_shout_ids %>
    <% if @favorite_shout_ids.include?(shout.id) %>
      <a data-shout-id="<%=shout.id%>" class="btn btn-large favorited yellow">
        <i class="icon-heart"></i>
        Favorite
      </a>
    <% else %>
      <a data-shout-id="<%=shout.id%>" class="btn btn-large not-favorited">
        <i class="icon-check"></i>
        Favorite
      </a>
    <% end %>
  <% end %>
  <div class="fb-like" data-href="http://www.jamesjn.com/shouttwo/shouts/" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false"></div>
</div>
