<!DOCTYPE html>
<html>
<head>
  <title>Shouttwo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'bootstrap-dropdown', 'bootstrap-button' %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="devise_alert"><%= alert %></p>
<%= render 'layouts/navbar' %>
<%= yield %>

</body>
</html>
