<!DOCTYPE html>
<html>
<head>
  <title>Shouttwo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="devise_alert"><%= alert %></p>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/shouttwo">ShoutTwo</a>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
      <ul class="nav">
        <li class="active">
          <a href="#">Recent</a>
        </li>
        <li>
          <a href="#">Popular</a>
        </li>
        <li>
          <a href="#">Liked</a>
        </li>
        <li>
          <a href="/shouttwo/shouts/new">Create Shout</a>
        </li>
      </ul>
      <ul class="secondary-nav">
        <li>
          <%= link_to "Login", user_omniauth_authorize_path(:facebook), :class => "btn" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
